<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<table class="table" id="items">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr class="hover">
      <td><%= item.name %></td>
      <td>-</td>
      <td>
        <%= link_to "Show this item", [:admin, item] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New item", new_admin_item_path %>
