@import './actiontext.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

.dropdown-button-form {
    display: flex;
}

.dropdown-button-form button {
    display: flex;
    flex: 1;
}
